/* Import de la police Syne */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

/* Body */ 

body 
{
    font-family: 'syne', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: auto;
    
}
#top-bar{
    padding: 0px;
    border: none;
}

hr {
    color: #FFF;
    border: none;
    border-top: 1px solid #FFF !important;
    height: 1px;
}
/* Header */ 

#site-header{
    background-color: white;
    border-bottom: none;
    font-family: Syne;
}
#site-logo{
    height: 80px;
    padding-left: 37px;
}
a:focus{
    outline: 0 !important;
}
li.menu-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19px;
    font-size: 16px;
    font-family: Syne;
    color: black;
}
.menu-item a{
    height: 80px;
    width: 160px;
    background: none;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center !important;
}

/*Bouton nav commander */ 

li.menu-item-22 a{
    background-color: #DC9F96;
    color: white;
    width: 236px;
    height: 80px;
}
li.menu-item-22 .text-wrap{
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    font-family: syne;
    padding: 61px 30px 61px 30px;
}

/* Page d'accueil */ 

.background-accueil{
    color: #ECE2DA;
    border-radius: 0px 0px 614px 690px / 0px 0px 38px 54px;
}
.background-gouts{ /* CHANGER LA CLASSE CSS AVEC IMPORTANT POUR LE DEUXIEME BLOC DE LA PAGE ACCUEIL*/
    color: #ECE2DA;
    border-radius: 0px 0px 611px 690px / 0px 0px 33px 41px !important;
}
.h1-accueil{
    color: #3B8E46;
    text-align: center;
    font-family: Syne;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.p-accueil{
    color: #000;
    text-align: center;
    font-family: Syne;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.h2-accueil{
    color: #D2776A;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}
.p-gouts{
    color: #FFF;
    text-align: center;
    font-family: Syne;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
}
.h3-accueil{
    color: #3B8E46;
    font-family: Syne;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
}
.h4-accueil{
    color: #3B8E46;
    font-family: Syne;
    font-size: 30px;
    font-weight: 700;
}
.bouton-commander a{
    display: flex;
    background-color: #E0B9B4;
    padding: 9px 57px 9px 57px;
    border-radius: 5px;
}
.wp-block-button__link:hover{
    color: white;
}
.galerie-temoignage{
    padding-left: 135px;
    padding-right: 135px;
}

/* Page nous rencontrer */ 

.background-rencontrer{
    color: #ECE2DA !important;
    border-radius: 0px 0px 614px 690px / 0px 0px 38px 54px !important;
}
.h1-rencontrer{
color: #D2776A;
text-align: center;
font-family: Syne;
font-size: 38px;
font-style: normal;
font-weight: 800;
text-transform: uppercase;
}
.p-rencontrer{
color: #000;
text-align: center;
display: grid;
justify-content: center;
font-family: Syne;
font-size: 20px;
font-style: normal;
font-weight: 400;
width: 680px;
height: 72px;
margin-left: 414px;
}
.flower-rencontrer{
width: 145.302px;
height: 150.262px;
position: absolute;
top: 50px;
left: 153px;
}
.h2-rencontrer{
    color: #000;
    text-align: center;
    font-family: Syne;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.team-member{
    justify-content: center !important;
}
.wp-image-432{
    width: 191px !important;
    height: 219px;
    position: absolute;
    top: 652px;
    left: 1255px;
}
.h3-rencontrer{
color: #000;
text-align: center;
font-family: Syne;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.wpcf7-form{
    display: grid !important;
    justify-content: center !important;
    position: sticky; 
    z-index: 1;
}
.wpcf7-label{
    color: black;
}
.wpcf7-text, .wpcf7-textarea{
    background: white !important;
    width: 383px !important;
    border: none !important;
    min-height: 71px !important;
    border-radius: 7px !important;
}
input[type=submit].wpcf7-submit{
    width: 198px;
    height: 55px;
    color: #FFFFFF;
    background-color: #E0B9B4;
    border: none;
    border-radius: 5px;
    margin-top: 0px;
    display: grid;
    justify-content: center;
    font-size: 15px;
    margin: 0 auto;
    padding: 9px 0px;
    text-transform: none;
}
.wp-image-30{
    width: 147px !important;
    margin-right: 813px !important;
    position: absolute;
    bottom: 230px !important;
    left: 495px !important;
}
/* Page commander */ 

.background-commander{
    background-color: #3B8E46 !important;
}
.h1-commander{
    color: #FFF;
    text-align: center;
    font-family: Syne;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;   
}
.separateur{
    height: 1px !important;
    color: #FFFFFF !important;
    width: 860px !important;
    border-bottom: none !important;
}
.h2-commander{
    color: #FFF;
    font-family: Syne;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.image-fruit{
    width: 193px !important;
    height: 129px !important;
}
.fruits-container-order{
    width: 100% !important;
}
.gouts-commander{
    color: #FFF !important;
    text-align: center;
    font-family: Syne;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
    margin: 0;
}
.formulaire-titre{
   color: white !important; 
   font-family: syne;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
}
.quantites-formulaire{
    display: flex !important;
    height: 56px;
    justify-content: center;
    gap: 180px;
    padding-top: 15px;
    margin-bottom: 25px;
}
form input[type=number]{
    background-color: #FFF;
    border-radius: 0 !important;
    border-color: white !important;
    text-align: center !important;
    font-size: 16px !important;
    font-family: 'syne';
    padding: 0 !important;
    height: 50px !important;
    width: 39px !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}
.info{
    border-right: 1px solid #FFF;
    padding-right: 45px;
    height: 428px;
}
.livraison{
    padding-left: 45px;
}
.formulaire-commander{
    color: #FFF !important;
    font-size: 20px !important;
    font-weight: 400;
    font-family: syne;
    display: flex !important;
    justify-content: center;
    padding-top: 37px;
    padding-bottom: 30px;
}

/* Footer */ 

.site-footer{
    display: flex;
    justify-content: center;
    text-align: center;
}

#footer-widgets{
    padding: 0 !important;
}


/* Media Queries */ 

/*Téléphone*/
@media all and (min-width : 320px) and (max-width: 768px){

}

/*Tablette*/ 

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /*Page nous rencontrer*/ 
.wp-image-30 {
        left: 130px !important;
}


    /*Page commander*/ 
.mobile-searchform{
        display: none;
    }
.oceanwp-mobile-menu-icon.mobile-right{
    padding-right: 25px;
}
#mobile-dropdown ul li {
    border: none;
}
.menu-item a {
    width: auto;
}
.h2-commander{
    text-align: center;
    margin-left: 0;
}
.separateur{
    width: 700px !important;
}
.formulaire-commander{
    flex-direction: column !important;
}
.info{
    border-right: none;
    align-self: center;
    padding-right: 0;
}
.livraison{
    align-self: center;
    padding-left: 0;
    padding-top: 30px;
}
}

/*Desktop*/ 
@media screen and (min-width: 1024px) {
    
}