/* Import de la police Syne */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

/* Body */ 

body{
    font-family: 'syne', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: auto;  
}
#top-bar{
    padding: 0px;
    border: none;
}
hr {
    color: #FFF;
    border: none;
    border-top: 1px solid #FFF !important;
    height: 1px;
}
.mobile-searchform{
    display: none;
}
#mobile-dropdown ul li {
    border: none;
}
/* Header */ 

#site-header{
    background-color: white;
    border-bottom: none;
    font-family: Syne;
}
#site-logo{
    height: 80px;
    padding-left: 37px;
}
#site-navigation-wrap{
    right: 0 !important;
}
a:focus{
    outline: 0 !important;
}
li.menu-item a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19px;
    font-size: 16px;
    font-family: Syne;
    color: black;
}
.menu-item a{
    height: 80px;
    width: 160px;
    background: none;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center !important;
}
li.menu-item-635{
    order: 1;
}
#site-navigation-wrap .dropdown-menu{
    display: flex;
}
li{
    order: 2;
}
#mobile-dropdown ul li a {
    display: block;
    position: relative;
    padding: 12px 40px;
    text-align: center;
}
/*Bouton nav commander */ 
li.menu-item-22{
    order: 3;
}
li.menu-item-22 a{
    background-color: #DC9F96;
    color: white;
    width: 236px;
    height: 80px;
}
li.menu-item-22 .text-wrap{
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    font-family: syne;
    padding: 61px 30px 61px 30px;
}

/* Page d'accueil */ 

.background-accueil{
    color: #ECE2DA;
    border-radius: 0px 0px 614px 690px / 0px 0px 38px 54px;
}
.background-gouts{
    color: #ECE2DA;
    border-radius: 0px 0px 611px 690px / 0px 0px 33px 41px !important;
}
.h1-accueil{
    color: #3B8E46;
    text-align: center;
    font-family: Syne;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
}
.cannette{
    position: relative;
    z-index: 2 !important;
}
.fleur-1-accueil{
    position: absolute;
    top: 250px;
    left: 480px !important;
    z-index: 1 !important;
}
.fleur-2-accueil{
    position: absolute;
    top: 250px; 
    right: 480px !important; 
    z-index: 1 !important;
}
.h2-accueil{
    color: #3B8E46;
    text-align: center;
    font-family: Syne;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.p-accueil{
    color: #000;
    text-align: center;
    font-family: Syne;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.h3-accueil{
    color: #D2776A;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}
.p-gouts{
    color: #FFF;
    text-align: center;
    font-family: Syne;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
}
.h4-accueil{
    color: #3B8E46;
    font-family: Syne;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
}
.h5-accueil{
    color: #3B8E46;
    font-family: Syne;
    font-size: 30px;
    font-weight: 700;
}
.bouton-commander a{
    display: flex;
    background-color: #E0B9B4;
    padding: 9px 57px 9px 57px;
    border-radius: 5px;
}
.wp-block-button__link:hover{
    color: white;
}
.galerie-temoignage{
    padding-left: 135px;
    padding-right: 135px;
}

/* Page nous rencontrer */ 

.background-rencontrer{
    color: #ECE2DA !important;
    border-radius: 0px 0px 614px 690px / 0px 0px 38px 54px !important;
}
.h1-rencontrer{
color: #D2776A;
text-align: center;
justify-content: center;
font-family: Syne;
font-size: 38px;
font-style: normal;
font-weight: 800;
}
.p-rencontrer{
color: #000;
text-align: center;
display: grid;
justify-content: center;
font-family: Syne;
font-size: 20px;
font-style: normal;
font-weight: 400;
width: 680px;
height: 72px;
margin: 0 auto;
}
.flower-rencontrer{
width: 145.302px;
height: 150.262px;
position: absolute;
top: 50px;
left: 170px !important;
}
.h2-rencontrer{
    color: #000;
    text-align: center;
    font-family: Syne;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.team-member{
    justify-content: center !important;
}
.plante-equipe{
    width: 191px !important;
    height: 219px;
    position: absolute;
    top: 613px;
    left: 1200px;
}
.h3-rencontrer{
color: #000;
text-align: center;
font-family: Syne;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.wpcf7-form{
    display: grid !important;
    justify-content: center !important;
    position: sticky; 
    z-index: 1;
}
.wpcf7-label{
    color: black;
}
.wpcf7-text, .wpcf7-textarea{
    background: white !important;
    width: 383px !important;
    border: none !important;
    min-height: 71px !important;
    border-radius: 7px !important;
}
input[type=submit].wpcf7-submit{
    width: 198px;
    height: 55px;
    color: #FFFFFF;
    background-color: #E0B9B4;
    border: none;
    border-radius: 5px;
    margin-top: 0px;
    display: grid;
    justify-content: center;
    font-size: 15px;
    margin: 0 auto;
    padding: 9px 0px;
    text-transform: none;
}
.wp-image-30{
    width: 147px !important;
    margin-right: 813px !important;
    position: relative;
    bottom: 230px !important;
    right: 220px !important;
}
/* Page commander */ 

.background-commander{
    background-color: #3B8E46 !important;
}
.h1-commander{
    color: #FFF;
    text-align: center;
    font-family: Syne;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;   
}
.separateur{
    height: 1px !important;
    color: #FFFFFF !important;
    width: 860px !important;
    border-bottom: none !important;
}
.h2-commander{
    color: #FFF;
    font-family: Syne;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.image-fruit{
    width: 193px !important;
    height: 129px !important;
}
.fruits-container-order{
    width: 100% !important;
}
.gouts-commander{
    color: #FFF !important;
    text-align: center;
    font-family: Syne;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
    margin: 0;
}
.formulaire-titre{
   color: white !important; 
   font-family: syne;
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
}
.quantites-formulaire{
    display: flex !important;
    height: 56px;
    justify-content: center;
    gap: 180px;
    padding-top: 15px;
    margin-bottom: 25px;
}
form input[type=number]{
    background-color: #FFF;
    border-radius: 0 !important;
    border-color: white !important;
    text-align: center !important;
    font-size: 16px !important;
    font-family: 'syne';
    padding: 0 !important;
    height: 50px !important;
    width: 39px !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}
.info{
    border-right: 1px solid #FFF;
    padding-right: 45px;
    height: 428px;
}
.livraison{
    padding-left: 45px;
}
.formulaire-commander{
    color: #FFF !important;
    font-size: 20px !important;
    font-weight: 400;
    font-family: syne;
    display: flex !important;
    justify-content: center;
    padding-top: 37px;
    padding-bottom: 30px;
}

/* Footer */ 

.site-footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
#footer-widgets{
    padding: 0 !important;
}


/* Media Queries */ 

/*Téléphone*/
@media screen and (min-width : 320px) and (max-width: 599px){
.flower-rencontrer{
    display: none;
}
.plante-equipe{
    display: none;
}
.wp-image-30{
    display: none;
}
.separateur-1{
    height: 60px !important;
}
}
@media screen and (min-width : 320px) and (max-width: 420px){
.fleur-1-accueil{
    position: absolute;
    top: 290px;
    left: 23px !important; 
    width: 40%; 
    z-index: 1 !important;
}
.fleur-2-accueil{
    position: absolute;
    width: 40%; 
    top: 290px;
    right: 20px !important; 
    z-index: 1 !important;
}

}
@media screen and (min-width : 421px) and (max-width: 600px){
.fleur-1-accueil{
    position: absolute;
    top: 250px; 
    left: 30px !important; 
    width: 60%; 
    z-index: 1 !important;
}
.fleur-2-accueil{
    position: absolute;
    top: 250px;
    right: 30px !important;
    width: 60%;
    z-index: 1 !important;
}
}
@media screen and (min-width : 600px) and (max-width: 669px){
.fleur-1-accueil{
    position: absolute; 
    width: 50%;
    top: 250px;
    left: 60px !important;
    z-index: 1 !important;
}
.fleur-2-accueil{
    position: absolute;
    width: 50%;
    top: 250px;
    right: 80px !important;
    z-index: 1 !important;
}
.flower-rencontrer{
    position: absolute;
    top: 15px;
    left: 20px !important;
    width: 20%;
    }
.plante-equipe{
    position: absolute;
    top: 1127px;
    left: 420px;
}
.wp-image-30{
    margin-right: 370px !important;
    position: relative;
    right: 15px !important;
}
}
@media screen and (min-width : 670px) and (max-width: 768px){
.flower-rencontrer{
    position: absolute;
    top: 15px;
    left: 50px !important;
    width: 20%;
}
.plante-equipe{
    position: absolute;
    top: 1127px;
    left: 450px;
}
.fleur-1-accueil{
    position: absolute;
    top: 250px;
    left: 80px !important;
    z-index: 1 !important;
    width: 50%;
}
.fleur-2-accueil{
    position: absolute; 
    width: 50%;
    right: 80px !important;
    top: 250px;
    z-index: 1 !important;
}
}
@media screen and (min-width : 768px) and (max-width: 1000px){
.fleur-2-accueil{
    position: absolute;
    width: 50%;
    z-index: 1 !important;
    top: 250px; 
    right: 130px !important;
}
.fleur-1-accueil{
    position: absolute; 
    z-index: 1 !important;
    width: 50%; 
    top: 250px; 
    left: 130px !important;

}
}
@media screen and (min-width : 1000px) and (max-width: 1024px){
.fleur-1-accueil{
    position: absolute; 
    z-index: 1 !important;
    width: 50%; 
    top: 250px; 
    left: 140px !important;   
}
.fleur-2-accueil{
    position: absolute;
    width: 50%;
    z-index: 1 !important;
    top: 250px; 
    right: 150px !important;
}
}
@media screen and (min-width : 320px) and (max-width: 768px){
    /*Page d'accueil*/
#site-logo{
    padding-left: 0;
}
#mobile-dropdown #mobile-menu-search {
    display: none;
}
.oceanwp-mobile-menu-icon{
    padding-right: 15px;
}
#mobile-dropdown ul li{
    border: none;
    padding: 0 0 0px 0;
    text-align: center;
}
.menu-item a{
    width: auto;
} 
.menu-item-635{
    padding-bottom: 30px !important;
}
.wp-container-content-3{
    height: 30px !important;
}
body .is-layout-flex{
    display: contents;
}
.fraise-pamplemousse{
    display: block !important;
}
.framboise-citron{
    display: block !important;
}
.wp-container-content-6{
    height: 30px !important;
}
.bouton-commander{
    display: flex !important;
    justify-content: center !important;
}
.p-accueil{
    font-size: 15px; 
    padding: 0px 15px; 
}
.h2-accueil{
    font-size: 20px;
}
.has-text-align-center{
    font-size: 15px; 
    padding: 0px 15px;
}
.p-gouts{
    font-size: 33px !important;
}
.wp-image-35, .wp-image-34, .wp-image-31{
    width: 30% !important;
    margin-left: 27px;
}
    /*Page commander*/
.h1-commander{
    font-size: 23px;
}
.wp-block-separator{
    width: 278px !important;
}
.h2-commander{
    font-size: 23px;
}
.gouts-commander{
    padding: 0;
}
.fruits-container-order{
    display: grid !important;
}
.wp-container-content-5, .wp-container-content-7{
    height: 30px !important;
}
.formulaire-commander{
    flex-direction: column !important;
}
.info, .livraison{
    align-self: center;
    padding: 15px;
    height: auto;
}
.wpcf7-text, .wpcf7-textarea {
    min-height: 35px !important;
}
form input[type=email]{
    padding: 0;
}

/*Page nous rencontrer */ 

.wpcf7-label{
    display:grid !important; 
    justify-content: center;
}
.wpcf7-text{
    width: auto !important;
}
.wpcf7-form {
    display: flex !important;
    flex-direction: column;
}
form input[type=text]{
    padding: 0;
}
.wpcf7-textarea{
    width: auto !important;
}
form textarea{
    padding: 0 !important; 
}
.p-rencontrer{
    width: auto !important;
}
}
/*Tablette*/ 

@media screen and (min-width: 768px) and (max-width: 1024px) {
#mobile-dropdown ul li{
    border: none;
    padding: 15px;
    text-align: center;
}
    /*Page nous rencontrer*/ 
.flower-rencontrer{
    position: absolute ;
    top: 5px;
    left: 70px !important;
    width: 20%;
}

/*.wp-image-432{à revoir
    position: absolute;
    left: 568px;
    top: 1285px;
}*/
.wp-image-30{
    position: relative;
    left: 118px;
}
    /*Page commander*/ 

.oceanwp-mobile-menu-icon.mobile-right{
    padding-right: 25px;
}

.menu-item a {
    width: auto;
}
.h2-commander{
    text-align: center;
    margin-left: 0;
}
.separateur{
    width: 700px !important;
}
.formulaire-commander{
    flex-direction: column !important;
}
.info{
    border-right: none;
    align-self: center;
    padding-right: 0;
}
.livraison{
    align-self: center;
    padding-left: 0;
    padding-top: 30px;
}
}

@media screen and (max-width: 959px){
li.menu-item-22 a{
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    height: auto;
}
}
/*Desktop*/ 
@media screen and (min-width: 1025px) {
.flower-rencontrer{
    position: absolute;
    top: 30px;
    left: 8px;
}
/*.fleur-1-accueil{
    position: absolute;
    top: 250px;
    left: 330px !important;
    z-index: 1 !important;
}*/
/*.fleur-2-accueil{
    position: absolute; 
    z-index: 1 !important;
    top: 250px; 
    right: 330px !important;
}*/
/*.wp-image-432{
    position: absolute;
    top: 631px; 
    left: 830px;
}*/
.wp-image-30{
    position: absolute;
    margin-right: 610px !important;
}
}
@media screen and (min-width: 1100px) and (max-width: 1200px){
.fleur-1-accueil{
    position: absolute;
    top: 250px;
    left: 370px !important; 
    z-index: 1 !important;
}
.fleur-2-accueil{
    position: absolute;
    top: 250px;
    right: 370px !important;
    z-index: 1 !important;
}
}